

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet">
<app-sidebar></app-sidebar>
<app-navbar></app-navbar>

<section id="contents">
   
        <!--for demo wrap-->
        <br>
        
        <h1>Candidate List</h1>
        <div class="wrap">
          <div class="search">
             <input  type="text" class="searchTerm" placeholder="Which candidate your looking for?">
             <button type="submit" class="searchButton">
               <i class="fa fa-search"></i>
            </button>
          </div>
       </div>
      
        <div class="tbl-header ">
          <table>
            <thead>
              <tr>
                <th>Full Name</th>
                <th>E-Mail</th>
                <th>Symbol</th>
             <th>Choose Candidate</th>
              </tr>
            </thead>
          </table>
        </div>
        <div class="tbl-content">
          <table>
            <tbody>
              <tr>
                <td>AAC</td>
                <td>AUSTRALIAN COMPANY </td>
                <td>$1.38</td>
                <td> <input type="checkbox" class="largerCheckbox"
                    name="checkBox2" > </td>
                
              </tr>
              <tr>
                <td>AAD</td>
                <td>AUSENCO</td>
                <td>$2.38</td>
              <td> <input type="checkbox" class="largerCheckbox"
                name="checkBox2" > </td>
              </tr>
              <tr>
                <td>AAX</td>
                <td>ADELAIDE</td>
                <td>$3.22</td>
                <td> <input type="checkbox" class="largerCheckbox"
                    name="checkBox2" > </td>
              </tr>
              <tr>
                <td>XXD</td>
                <td>ADITYA BIRLA</td>
                <td>$1.02</td>
                <td> <input type="checkbox" class="largerCheckbox"
                    name="checkBox2" > </td>
              </tr>
              <tr>
                <td>AAC</td>
                <td>AUSTRALIAN COMPANY </td>
                <td>$1.38</td>
                <td> <input type="checkbox" class="largerCheckbox"
                    name="checkBox2" > </td>
              </tr>
              <tr>
                <td>AAD</td>
                <td>AUSENCO</td>
                <td>$2.38</td>
                <td> <input type="checkbox" class="largerCheckbox"
                    name="checkBox2" > </td>
              </tr>
              <tr>
                <td>AAX</td>
                <td>ADELAIDE</td>
                <td>$3.22</td>
                <td> <input type="checkbox" class="largerCheckbox"
                    name="checkBox2" > </td>
              </tr>
              <tr>
                <td>XXD</td>
                <td>ADITYA BIRLA</td>
                <td>$1.02</td>
                <td> <input type="checkbox" class="largerCheckbox"
                    name="checkBox2" > </td>
              </tr>
              <tr>
                <td>AAC</td>
                <td>AUSTRALIAN COMPANY </td>
                <td>$1.38</td>
                <td> <input type="checkbox" class="largerCheckbox"
                    name="checkBox2" > </td>
              </tr>
             
            </tbody>
          
          </table>
        </div>
        <nav aria-label="...">
            <ul class="pagination">
              <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Add Election Details</a>
              </li>
              
              <li class="page-item active" aria-current="page">
                <a class="page-link" >Select Candidates for Election <span class="sr-only">(current)</span></a>
              </li>
              <li class="page-item"><a class="page-link" href="E-Ballot/api/voterlist">Select Voters for Election </a></li>
             &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; <button type="button" class="btn btn-danger btn-large" data-toggle="modal" data-target="#exitApplication">
                  Add selected Candidates </button>

            </ul>
          </nav>
         
      
</section>


   