<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
<link href="https://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet">


<aside class="side-nav" id="show-side-navigation1">
  <i class="fa fa-bars close-aside hidden-sm hidden-md hidden-lg" data-close="show-side-navigation1"></i>
  <div class="heading">
    <img src="assets/pravin.jpg" alt="">
    <div class="info">
      <h3><a href="#">Pravin Jeukar</a></h3>
      <p>Software Developer</p>
    </div>
  </div>
  <div class="search">
   
  </div>
  <ul class="categories">
    <li><i class="fas fa-vote-yea" aria-hidden="true"></i><a >Election</a>
      <ul class="side-nav-dropdown">
        <li><a  href="E-Bellot/api/createballot">Create the Ballot</a></li>
        <li><a>View</a></li>
       
      </ul>
    </li>
    <li><i class="fas fa-person-booth"></i><a>Voters</a>
      <ul class="side-nav-dropdown">
        <li><a  href="E-Bellot/api/addvoter">Add Voters</a></li>
        <li><a href="E-Bellot/api/managevoter">Manage Voters</a></li>

      </ul>
    </li>
    <li><i class="fas fa-poll"></i><a> Results</a>
      <li><i class="fas fa-user-edit"></i><a href="E-Bellot/api/profile"> Profile</a>
    </li>
    <li><i class="fa fa-users fa-fw"></i><a href="E-Bellot/api/aboutus">  Our team</a>
     
   
    
  </ul>
</aside>

