<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<app-sidebar></app-sidebar>
<app-navbar></app-navbar>
<br>
<br>
<br>
<section id="contents">
<div class="container-xl">
	<div class="table-responsive">
		<div class="table-wrapper">
			<div class="table-title">
				<div class="row">
					<div class="col-sm-6">
						<h2>Manage <b>Voter</b></h2>
					</div>
					<div class="col-sm-6">
						<a href="#addEmployeeModal" class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Add New Voter</span></a>
					&nbsp; &nbsp;	<a href="#deleteEmployeeModal" class="btn btn-danger" data-toggle="modal"><i class="material-icons">&#xE15C;</i> <span>Delete</span></a>						
					</div>
				</div>
            </div>
            <br>
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th>Employee ID</th>
						<th>Full Name</th>
						<th>Adharcard Number</th>
						<th>E-mail ID</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let voter of listOfVoter">
						<td>
							<div class="form-group">
								<input type="text" value={{voter.employeeId}}   class="form-control" required>
							</div>
						</td>
						<td>
							<div class="form-group">
								<input type="text" value={{voter.fullName}}   class="form-control" required>
							</div>
						</td>
						<td>
							<div class="form-group">
								<input type="text" value={{voter.adharNo}}   class="form-control" required>
							</div>
						</td>
						<td>
							<div class="form-group">
								<input type="text" value={{voter.email}}   class="form-control" required>
							</div>
						</td>
						<td>
							<a class="edit" (click)="updateVoter(voter.voterId)" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
							<a  (click)="deleteVoter(voter.voterId)" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>        
</div>
</section> -->